@model IEnumerable<JoiaModel>

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col" Tipo></th>
            </tr>
        </thead>
    </table>